* {
  margin: 0;
  padding: 0;
}

html {
  /* (10% * 100%) / 16px = 62.5% (10px per rem) */
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: #11191f;
  color: #bbc6ce;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1 {
  color: #ffffff;
  font-size: 4rem;
}

li {
  list-style: none;
}

input {
  margin-top: 1rem;
  border: solid 2px #324350;
  border-radius: 6px;
  background-color: #141e26;
  color: white;
  padding: 1.2rem 1rem;
  border-radius: 10px;
}
