.jobSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchForm {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  width: 40%;
}

.searchInput {
  border-radius: 100px;
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 1.5rem;
}

.jobsContainer {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr;
  column-gap: 2rem;
}

.jobsContainer section:first-child {
  grid-column: 1 / 2;
}

.jobsContainer section:last-child {
  grid-column: 2 / 3;
}

.loadingSpinner {
  text-align: center;
  font-size: 4rem;
}

hr {
  margin: 2.5rem 0rem;
  color: #333;
}

.parameters {
  margin-bottom: 1.8rem;
}
