.searchForm {
  display: flex;
  flex-direction: row;
}

.searchButton {
  padding: 0.8rem 1rem;
  background-color: #89c4e1;
  border: solid 2px;
  border-radius: 8px;
  margin-left: 0.5rem;
}

.searchInput {
  border: solid 2px;
  border-radius: 8px;
  padding: 0rem 1rem;
  width: 35%;
  height: 3.5rem;
}

.jobsContainer {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr;
  column-gap: 2rem;
}

.jobsContainer section:first-child {
  grid-column: 1 / 2;
}

.jobsContainer section:last-child {
  grid-column: 2 / 3;
}
