.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar > li {
  margin-left: 3rem;
}

.login {
  border: solid 2px;
  padding: 0.6rem 2rem;
  border-radius: 8px;
  background-color: #58287F;
}

.login > a {
  color: white;
}
