.navbar {
  display: flex;
  align-items: center;
}

.navbar > li {
  margin-left: 3rem;
}

.login {
  border: solid 0px;
  padding: 0.6rem 2rem;
  border-radius: 8px;
  background-color: #1095c1;
}

.login > a {
  color: black;
}
