.cardContainer {
  padding: 1rem;
  margin: 1rem 0rem;
  border-radius: 10px;
}

.cardTitle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.cardDefaultBorder {
  border: 2px solid #333;
}

.cardSelectedBorder {
  border: 2px solid #9baab5;
}

.generalInfo{
  display: flex;
  flex-direction: column;
  color: #a9b7c0;
  font-size: 1.4rem;
  padding: 1rem 0rem;
}
