.listTitle {
  margin-top: 2rem;
}

.jobListContainer{
  overflow-y: scroll;
  height: 100vh;
}

.pages {
  display: flex;
  justify-content: center;
}

.pages li {
  margin-left: 0.5rem;
}

.pages li a {
  text-decoration: none;
}

.pagLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

a[type="button"] {
  border: 2px solid #1095c1;
  color: #1095c1;
  border-radius: 8px;
  padding: 1rem 2rem;
}
