.listTitle {
  margin-top: 2rem;
}

.jobListContainer{
  overflow-y: scroll;
  height: 100vh;
}

.jobList li {
  list-style-type: none;
}

.pages {
  display: flex;
  justify-content: center;
}

.pages li {
  list-style-type: none;
  margin-left: 0.5rem;
}

.pages li a {
  text-decoration: none;
}

.pagLinks {
  display: flex;
  justify-content: space-around;
}
